body {
	background-image:linear-gradient(to right bottom,rgba(35,37,114,1),white);
	background-size:155% 155%;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
.lisitemap-section ul>li {
    padding: 8px;
    font-size: 18px;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    list-style: none;
    margin: 1px;
}
.lisitemap-section li>a {
    color: #fff;
}
.lisitemap-section li>a:hover {
    color: #29ad3a;
}
.formcn
{
	position:absolute;
	left:8%;
	top:16%;
}
.text{
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 8em;
	position: absolute;
    top: 6.5%; 
    right: 50%;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
a
{
	position:absolute;
	bottom:2%;
	left:44%;
	
}
h1
{
	color:red;
}